<%- include('partials/header') -%>
<!--FAQ-->
<div class="rf-container rf-py-6w"></div>
<div class="rf-container rf-mb-5w rf-mt-12w" id="faqText">
  <h1 id="etudiant">En savoir plus ?</h1>
  <div class="rf-mb-3w">
    <div>
      <span class="rf-fi-arrow-right-line rf-fi--md"></span>
      <span>Vous avez encore une question et ne trouvez pas la réponse ci-dessous ? N'hésitez pas à nous contacter directement : contact@beta.gouv.fr</span>
    </div>
    
    <!--
    <div>
      <a class="rf-btn rf-btn--alt rf-mt-2w" href="">
        Voir les étudiants
      </a>
    </div>
    -->
    
  </div>
  <ul class="rf-accordion-group">
    <%- include('partials/faq-item',
        {
          id: 'e0',
          question: 'Qui peut candidater pour être tuteur d’étudiants de Prépas Talents ?',
          response: 'Ce dispositif est ouvert en priorité à tous les élèves et anciens élèves des écoles de service public ayant obtenu leur concours il y’a moins de 3 ans et souhaitant accompagner un élève d’une des Prépas Talents, dans la préparation au concours de la fonction publique.'
        })
        -%>
    <%- include('partials/faq-item',
        {
          id: 'e1',
          question: 'Comment se déroule l’entrée dans la communauté des tuteurs de Prépas Talents ?',
          response: 'Vous remplissez un formulaire d’inscription,  une fois celui-ci validé, vous recevez un lien pour un module de formation en ligne. Vous intégrez le vivier de tuteurs des Prépas Talents.'
        })
        -%>
    <%- include('partials/faq-item',
        {
          id: 'e2',
          question: 'Chaque tuteur aura-t-il un étudiant à accompagner ?',
          response: 'Non.  En entrant dans le vivier des tuteurs de Prépas Talents, les tuteurs sont mis à disposition des responsables pédagogiques des Prépas Talents. Ce sont eux qui décideront des accompagnements à mettre en place en fonction des besoins de l’étudiant.'
        })
        -%>
    <%- include('partials/faq-item',
        {
          id: 'e3',
          question: 'Y a t’il une limite quant au nombre de tutoré par tuteur?',
          response: 'Oui, le nombre de tutoré ne doit pas excéder deux par tuteur.'
        })
        -%>
    <%- include('partials/faq-item',
        {
          id: 'e4',
          question: 'Comment se déroule l’appariement tuteur/tutoré ?',
          response: 'L’appariement est laissé à la discrétion du responsable pédagogique de la Prépa Talents. Il identifie le ou les tuteurs nécessaires au regard des besoins de l’étudiant.'
        })
        -%>
    
    <%- include('partials/faq-item',
        {
          id: 'e5',
          question: 'Quelle est la durée du tutorat ?',
          response: 'Le tutorat se déroule durant l’année de préparation au concours. La période exacte est fixée en accord avec le responsable pédagogique de la Prépa et l’étudiant.'
        })
        -%> 
    
    <%- include('partials/faq-item',
        {
          id: 'e6',
          question: 'Combien de temps dois-je prendre pour assurer le tutorat ?',
          response: 'Cela est variable en fonction des besoins de l’étudiant. Le tutorat nécessite d’être disponible et joignable. Il nécessite également un engagement fort de votre part sur toute la durée de la préparation au concours. La fréquence des rencontres s’établit entre le tuteur et le tutoré, en fonction des besoins identifiés de l’étudiant.'
        })
        -%>  
    
    <%- include('partials/faq-item',
        {
          id: 'e7',
          question: 'Le tutorat peut-il être assuré à distance ?',
          response: 'Oui. Toutefois, nous privilégions une présence physique auprès de l’étudiant notamment à des moments clés de sa préparation. Le choix des modalités d’accompagnement est discuté conjointement avec le responsable pédagogique de la Prépa Talents et l’étudiant.'
        })
        -%>
       
    <%- include('partials/faq-item',
        {
          id: 'e8',
          question: 'Le tutorat est-il rémunéré ?',
          response: 'Les modalités de rémunération peuvent varier en fonction des Prépas Talents. De manière générale, la mission de tutorat n’est pas rémunérée, cependant, un défraiement peut être octroyé au tuteur. Les modalités pratiques sont à voir avec le responsable pédagogique de la Prépa Talents.'
        })
        -%>         
     
     
  </ul>
  </div>
</div>
<%- include('partials/footer') -%> 

